.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: thistle;
  height: 100vh;
}

.AppWrapper {
  position: relative;
  width: 300px;
}
.AppList {
  position: absolute;
}
.AppItem {
  width: 300px;
  position: absolute;
}